---
layout: page
---
<h1 class="entry-title home-page">Railsguides</h1>
<h3 class="slogan">Web development technical challenges are solved here.</h3>
<div class="entry-tags static-tags">
  <a href="/tags/#Ruby" title="Pages tagged {{ tag }}">Ruby</a>
  <a href="/tags/#PosgreSQL" title="Pages tagged {{ tag }}">PostgreSQL</a>
</div>
<ul class="post-list">
  {% for post in site.posts %}
    {% if post.featured_post %}
      <li class="main-list featured-post">
        {% include card.html %}
      </li>
    {% endif %}
  {% endfor %}
  <h2 class="recent-posts">Recent posts</h2>
  {% for post in site.posts limit:10 %}
    {% unless post.featured_post %}
      <li class="main-list">
        {% include card.html %}
      </li>
    {% endunless %}
  {% endfor %}
</ul>
