---
layout: homepage
redirect_to:
  - https://blog.widefix.com/
title: WideFix's tech blog (formerly Railsguides)
description: "This blog describes some the most interesting tech challenges solved by WideFix company."
---

<ul class="post-list">
  {% for post in site.posts %}
    {% if post.featured_post %}
      <li class="main-list featured-post">
        {% include card.html %}
      </li>
    {% endif %}
  {% endfor %}
  <h2 class="recent-posts">Recent posts</h2>
  {% for post in site.posts limit:10 %}
    {% unless post.featured_post %}
      <li class="main-list">
        {% include card.html %}
      </li>
    {% endunless %}
  {% endfor %}
</ul>
