---
layout: homepage
title: Railsguides - Ruby experience
description: "This blog shares my experience of being Ruby developer (I'm Andrey Koleshko, aka ka8725). Of course, not everything can be written down. Hence, all these posts are just part of everything I encounter in my work."
---
<h1 class="entry-title home-page">Welcome to Railsguides</h1>
<h2 class="slogan">Web development technical challenges are solved here.</h2>
<div class="entry-tags static-tags">
  <a href="/tags/#Ruby" title="Pages tagged {{ tag }}">Ruby</a>
  <a href="/tags/#PosgreSQL" title="Pages tagged {{ tag }}">PostgreSQL</a>
</div>
<ul class="post-list">
  {% for post in site.posts %}
    {% if post.featured_post %}
      <li class="main-list featured-post">
        {% include card.html %}
      </li>
    {% endif %}
  {% endfor %}
  <h2 class="recent-posts">Recent posts</h2>
  {% for post in site.posts limit:10 %}
    {% unless post.featured_post %}
      <li class="main-list">
        {% include card.html %}
      </li>
    {% endunless %}
  {% endfor %}
</ul>
