<span>&copy; Copyright {{ site.time | date: '%Y' }} {{ site.owner.name }}</span>
<div class="social-icons">
	{% if site.owner.twitter %}
    <a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  {% endif %}
  {% if site.owner.linkedin %}
    <a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  {% endif %}
  {% if site.owner.github %}
    <a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  {% endif %}
</div><!-- /.social-icons -->
