body {
  font-family: sans-serif;
}

.flex-container {
  display: flex;
}

.flex-container > li {
  margin-left: 25px;
}

h1 {
  margin: 0;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
}

body {
  padding: 20px;
}

.introduction {
  margin-bottom: 50px;
}

.introduction .slogan p {
  font-size: 18px;
}

a.contact {
  display: block;
  color: black;
  text-decoration: none;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

a.contact:hover {
  background-color: black;
  color: white;
}

.introduction .invitation strong {
  font-size: 25px;
  line-height: 36px
}

.introduction .invitation li {
  font-size: 20px;
  line-height: 30px;
}

.about-all p {
  font-size: 18px;
  line-height: 25px;
}

footer address {
  text-align: right;
}

footer address a {
  display: block;
  color: black;
}

footer .copyright {
  flex-grow: 1;
}
