<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

{% include navigation.html %}

<div id="main" role="main">
  <article class="hentry">
    <div class="entry-wrapper">
      <div class="entry-content">
        <h1 class="entry-title">{{ page.title }}</h1>
        <div class="entry-running">
          <div class="display-flex">
            <img src="/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo">
            <div class="author-data">
              <span class="author vcard">
                <span class="fn">
                  <a href="/about-author/" title="About {{ site.owner.name }}">  {{ site.owner.name }}
                  </a>
                </span>
              </span>
              <div class="entry-date date published">
                <time datetime="{{ page.date | date_to_xmlschema }}">
                  {{ page.date | date: "%d %b %Y" }}
                </time>
              </div>
              <div class="author-socials">
                <span class="social-author">
                  <a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank">
                    <i class="fab fa-github-square"></i>
                  </a>
                </span>
                <span class="social-author">
                  <a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="fab fa-linkedin"></i>
                  </a>
                </span>
                <span class="social-author">
                  <a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank">
                    <i class="fab fa-twitter-square"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="flex-self">
            <span class="share-word">share</span>
            <span class="social-share first">
              <i class="fas fa-share-alt"></i>
            </span>
            <span class="social-share">
              <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="Share on Twitter" itemprop="Twitter">
                <i class="fab fa-twitter-square"></i>
              </a>
            </span>
            <span class="social-share">
              <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on LinkedIn">
                <i class="fab fa-linkedin"></i>
              </a>
            </span>
            <span class="social-share">
              <a href="https://www.facebook.com/sharer/sharer.php?href={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
            </span>
          </div>
        </div>
        {% assign ref='#headline' %}
        {{ content }}
        {% assign ref='#bottomline' %}
        <span class="entry-tags">
          {% for tag in page.tags %}
            <a href="/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a>
            {% unless forloop.last %}{% endunless %}
          {% endfor %}
        </span>
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    <nav class="pagination" role="navigation">
      {% if page.previous %}
        <a href="{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
      {% endif %}
      {% if page.next %}
        <a href="{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
      {% endif %}
    </nav><!-- /.pagination -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="display-flex">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
